/* App.css */
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
  color: blueviolet;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.image-gallery .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
